<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dk.youkol">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACTION_HEADSET_PLUG"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:forceDarkAllowed="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.Youkol">

        <service
            android:name=".services.BackgroundService"
            android:exported="true"
            android:foregroundServiceType="connectedDevice" />

        <receiver android:name=".receivers.HeadsetReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.HEADSET_PLUG"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.VolumeChangeReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.media.VOLUME_CHANGED_ACTION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activitys.DrivingViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.DrivingActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.KidsActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>